* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 1rem 2rem;
}

.logo-img {
  height: 50px;
  width: auto;
  vertical-align: middle;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo img {
  margin-right: 10px;
}


.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar ul li a:hover {
  color: #f1c40f;
}

.content {
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #34495e;
}

.logo-text {
  color: #f1c40f; /* Change this to your preferred color */
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.user-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  cursor: default;
}
